@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quick utility to hide the horizontal scrollbar on mobile tabs */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
